<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"
	py:replace="''" />
<title>VX: page list</title>
</head>

<body>
	<div>
		<h1>All Pages</h1>
		<ul>
			<li py:for="page in pages"><a
				href="${tg.url('/page/' + page.name)}" py:content="page.name">Page Name
					Here.</a>
			</li>
		</ul>
	</div>
	<div>
		<h1>
			<a href="/page/new">Add Page</a>
		</h1>

	</div>
</body>
</html>
